.idea
.vagrant
/vendor
/node_modules
/bower_components
/public/css
/public/fonts
/public/js
/public/unify
/public/images
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
composer.lock
access.log
error.log
npm-debug.log
phpinfo.php