@font-face {
  font-family: 'footable';
  src: url('/fonts/footable.eot');
  src: url('/fonts/footable.eot?#iefix') format('embedded-opentype'), url('/fonts/footable.woff') format('woff'), url('/fonts/footable.ttf') format('truetype'), url('fonts/footable.svg#footable') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'footable';
    src: url('/fonts/footable.svg#footable') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
/* icheck plugin */
.icheckbox_square-green,
.iradio_square-green {
  background: url(/css/icheck/green.png) no-repeat;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-green,
  .iradio_square-green {
    background-image: url(/css/icheck/green@2x.png);
  }
}