/* footable plugin tweak */
@font-face {
  font-family: 'footable';
  src: url('/fonts/footable.eot');
  src: url('/fonts/footable.eot?#iefix') format('embedded-opentype'), url('/fonts/footable.woff') format('woff'), url('/fonts/footable.ttf') format('truetype'), url('fonts/footable.svg#footable') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'footable';
    src: url('/fonts/footable.svg#footable') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
/* icheck plugin tweak */
.icheckbox_square-green,
.iradio_square-green {
  background: url(/css/icheck/green.png) no-repeat;
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-green,
  .iradio_square-green {
    background-image: url(/css/icheck/green@2x.png);
  }
}

.iradio_square-green {
  background-position: -120px 0;
}

/* select2 plugin tweak */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 25px;
}